<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?mso-application progid="Word.Document"?>
<w:wordDocument xmlns:aml="http://schemas.microsoft.com/aml/2001/core" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:ve="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.microsoft.com/office/word/2003/wordml" xmlns:wx="http://schemas.microsoft.com/office/word/2003/auxHint" xmlns:wsp="http://schemas.microsoft.com/office/word/2003/wordml/sp2" xmlns:sl="http://schemas.microsoft.com/schemaLibrary/2003/core" w:macrosPresent="no" w:embeddedObjPresent="no" w:ocxPresent="no" xml:space="preserve">
	<w:ignoreSubtree w:val="http://schemas.microsoft.com/office/word/2003/wordml/sp2" />
	<o:DocumentProperties>
		<o:Title>舆情日报</o:Title>
		<o:Author></o:Author>
		<o:LastAuthor></o:LastAuthor>
		<o:Revision></o:Revision>
		<o:TotalTime></o:TotalTime>
		<o:LastPrinted></o:LastPrinted>
		<o:Created></o:Created>
		<o:LastSaved></o:LastSaved>
		<o:Pages></o:Pages>
		<o:Words></o:Words>
		<o:Characters></o:Characters>
		<o:Lines></o:Lines>
		<o:Paragraphs></o:Paragraphs>
		<o:CharactersWithSpaces></o:CharactersWithSpaces>
		<o:Version></o:Version>
	</o:DocumentProperties>
	<w:fonts>
		<w:defaultFonts w:ascii="Times New Roman" w:fareast="宋体" w:h-ansi="Times New Roman" w:cs="Times New Roman" />
		<w:font w:name="Times New Roman">
			<w:panose-1 w:val="02020603050405020304" />
			<w:charset w:val="00" />
			<w:family w:val="Roman" />
			<w:pitch w:val="variable" />
			<w:sig w:usb-0="E0002AFF" w:usb-1="C0007841" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="000001FF" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="Arial">
			<w:panose-1 w:val="020B0604020202020204" />
			<w:charset w:val="00" />
			<w:family w:val="Swiss" />
			<w:pitch w:val="variable" />
			<w:sig w:usb-0="E0002AFF" w:usb-1="C0007843" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="000001FF" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="宋体">
			<w:altName w:val="SimSun" />
			<w:panose-1 w:val="02010600030101010101" />
			<w:charset w:val="86" />
			<w:family w:val="auto" />
			<w:pitch w:val="variable" />
			<w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="黑体">
			<w:altName w:val="SimHei" />
			<w:panose-1 w:val="02010609060101010101" />
			<w:charset w:val="86" />
			<w:family w:val="Modern" />
			<w:pitch w:val="fixed" />
			<w:sig w:usb-0="800002BF" w:usb-1="38CF7CFA" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="Cambria Math">
			<w:panose-1 w:val="02040503050406030204" />
			<w:charset w:val="00" />
			<w:family w:val="Roman" />
			<w:pitch w:val="variable" />
			<w:sig w:usb-0="A00002EF" w:usb-1="420020EB" w:usb-2="00000000" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="Cambria">
			<w:panose-1 w:val="02040503050406030204" />
			<w:charset w:val="00" />
			<w:family w:val="Roman" />
			<w:pitch w:val="variable" />
			<w:sig w:usb-0="A00002EF" w:usb-1="4000004B" w:usb-2="00000000" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="Calibri">
			<w:panose-1 w:val="020F0502020204030204" />
			<w:charset w:val="00" />
			<w:family w:val="Swiss" />
			<w:pitch w:val="variable" />
			<w:sig w:usb-0="E10002FF" w:usb-1="4000ACFF" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="宋体壥分...">
			<w:altName w:val="宋体" />
			<w:charset w:val="86" />
			<w:family w:val="auto" />
			<w:pitch w:val="default" />
			<w:sig w:usb-0="00000001" w:usb-1="080E0000" w:usb-2="00000010" w:usb-3="00000000" w:csb-0="00040000" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="@宋体">
			<w:panose-1 w:val="02010600030101010101" />
			<w:charset w:val="86" />
			<w:family w:val="auto" />
			<w:pitch w:val="variable" />
			<w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="@黑体">
			<w:panose-1 w:val="02010609060101010101" />
			<w:charset w:val="86" />
			<w:family w:val="Modern" />
			<w:pitch w:val="fixed" />
			<w:sig w:usb-0="800002BF" w:usb-1="38CF7CFA" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="@宋体壥分...">
			<w:charset w:val="86" />
			<w:family w:val="auto" />
			<w:pitch w:val="default" />
			<w:sig w:usb-0="00000001" w:usb-1="080E0000" w:usb-2="00000010" w:usb-3="00000000" w:csb-0="00040000" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="Verdana">
			<w:panose-1 w:val="020B0604030504040204" />
			<w:charset w:val="00" />
			<w:family w:val="Swiss" />
			<w:pitch w:val="variable" />
			<w:sig w:usb-0="A10006FF" w:usb-1="4000205B" w:usb-2="00000010" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="仿宋_GB2312">
			<w:altName w:val="Arial Unicode MS" />
			<w:charset w:val="86" />
			<w:family w:val="Modern" />
			<w:pitch w:val="fixed" />
			<w:sig w:usb-0="00000000" w:usb-1="080E0000" w:usb-2="00000010" w:usb-3="00000000" w:csb-0="00040000" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="仿宋">
			<w:panose-1 w:val="02010609060101010101" />
			<w:charset w:val="86" />
			<w:family w:val="Modern" />
			<w:pitch w:val="fixed" />
			<w:sig w:usb-0="800002BF" w:usb-1="38CF7CFA" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="微软雅黑">
			<w:panose-1 w:val="020B0503020204020204" />
			<w:charset w:val="86" />
			<w:family w:val="Swiss" />
			<w:pitch w:val="variable" />
			<w:sig w:usb-0="80000287" w:usb-1="280F3C52" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="0004001F" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="@微软雅黑">
			<w:panose-1 w:val="020B0503020204020204" />
			<w:charset w:val="86" />
			<w:family w:val="Swiss" />
			<w:pitch w:val="variable" />
			<w:sig w:usb-0="80000287" w:usb-1="280F3C52" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="0004001F" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="Consolas">
			<w:panose-1 w:val="020B0609020204030204" />
			<w:charset w:val="00" />
			<w:family w:val="Modern" />
			<w:pitch w:val="fixed" />
			<w:sig w:usb-0="E10002FF" w:usb-1="4000FCFF" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="0000019F" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="@仿宋">
			<w:panose-1 w:val="02010609060101010101" />
			<w:charset w:val="86" />
			<w:family w:val="Modern" />
			<w:pitch w:val="fixed" />
			<w:sig w:usb-0="800002BF" w:usb-1="38CF7CFA" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000" />
		</w:font>
		<w:font w:name="@仿宋_GB2312">
			<w:charset w:val="86" />
			<w:family w:val="Modern" />
			<w:pitch w:val="fixed" />
			<w:sig w:usb-0="00000000" w:usb-1="080E0000" w:usb-2="00000010" w:usb-3="00000000" w:csb-0="00040000" w:csb-1="00000000" />
		</w:font>
	</w:fonts>
	<w:styles>
		<w:versionOfBuiltInStylenames w:val="7" />
		<w:latentStyles w:defLockedState="off" w:latentStyleCount="267">
			<w:lsdException w:name="Normal" />
			<w:lsdException w:name="heading 1" />
			<w:lsdException w:name="heading 2" />
			<w:lsdException w:name="heading 3" />
			<w:lsdException w:name="heading 4" />
			<w:lsdException w:name="heading 5" />
			<w:lsdException w:name="heading 6" />
			<w:lsdException w:name="heading 7" />
			<w:lsdException w:name="heading 8" />
			<w:lsdException w:name="heading 9" />
			<w:lsdException w:name="caption" />
			<w:lsdException w:name="Title" />
			<w:lsdException w:name="Subtitle" />
			<w:lsdException w:name="Strong" />
			<w:lsdException w:name="Emphasis" />
			<w:lsdException w:name="No Spacing" />
			<w:lsdException w:name="List Paragraph" />
			<w:lsdException w:name="Quote" />
			<w:lsdException w:name="Intense Quote" />
			<w:lsdException w:name="Subtle Emphasis" />
			<w:lsdException w:name="Intense Emphasis" />
			<w:lsdException w:name="Subtle Reference" />
			<w:lsdException w:name="Intense Reference" />
			<w:lsdException w:name="Book Title" />
			<w:lsdException w:name="TOC Heading" />
		</w:latentStyles>
		<w:style w:type="paragraph" w:default="on" w:styleId="a">
			<w:name w:val="Normal" />
			<wx:uiName wx:val="正文" />
			<w:rsid w:val="00C21DE5" />
			<w:pPr>
				<w:widowControl w:val="off" />
				<w:jc w:val="both" />
			</w:pPr>
			<w:rPr>
				<wx:font wx:val="Times New Roman" />
				<w:kern w:val="2" />
				<w:sz w:val="21" />
				<w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA" />
			</w:rPr>
		</w:style>
		<w:style w:type="paragraph" w:styleId="1">
			<w:name w:val="heading 1" />
			<wx:uiName wx:val="标题 1" />
			<w:basedOn w:val="a" />
			<w:next w:val="a" />
			<w:link w:val="1Char" />
			<w:rsid w:val="00C21DE5" />
			<w:pPr>
				<w:keepLines />
				<w:pageBreakBefore />
				<w:spacing w:before="240" w:after="240" w:line="360" w:line-rule="auto" />
				<w:outlineLvl w:val="0" />
			</w:pPr>
			<w:rPr>
				<w:rFonts w:ascii="Arial" w:fareast="黑体" w:h-ansi="Arial" />
				<wx:font wx:val="Arial" />
				<w:b />
				<w:kern w:val="44" />
				<w:sz w:val="36" />
			</w:rPr>
		</w:style>
		<w:style w:type="paragraph" w:styleId="2">
			<w:name w:val="heading 2" />
			<wx:uiName wx:val="标题 2" />
			<w:basedOn w:val="a" />
			<w:next w:val="a" />
			<w:link w:val="2Char" />
			<w:rsid w:val="00D3054E" />
			<w:pPr>
				<w:keepNext />
				<w:keepLines />
				<w:spacing w:before="260" w:after="260" w:line="416" w:line-rule="auto" />
				<w:outlineLvl w:val="1" />
			</w:pPr>
			<w:rPr>
				<w:rFonts w:ascii="Cambria" w:h-ansi="Cambria" />
				<wx:font wx:val="Cambria" />
				<w:b />
				<w:b-cs />
				<w:sz w:val="32" />
				<w:sz-cs w:val="32" />
			</w:rPr>
		</w:style>
		<w:style w:type="character" w:default="on" w:styleId="a0">
			<w:name w:val="Default Paragraph Font" />
			<wx:uiName wx:val="默认段落字体" />
		</w:style>
		<w:style w:type="table" w:default="on" w:styleId="a1">
			<w:name w:val="Normal Table" />
			<wx:uiName wx:val="普通表格" />
			<w:rPr>
				<wx:font wx:val="Times New Roman" />
				<w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA" />
			</w:rPr>
			<w:tblPr>
				<w:tblInd w:w="0" w:type="dxa" />
				<w:tblCellMar>
					<w:top w:w="0" w:type="dxa" />
					<w:left w:w="108" w:type="dxa" />
					<w:bottom w:w="0" w:type="dxa" />
					<w:right w:w="108" w:type="dxa" />
				</w:tblCellMar>
			</w:tblPr>
		</w:style>
		<w:style w:type="list" w:default="on" w:styleId="a2">
			<w:name w:val="No List" />
			<wx:uiName wx:val="无列表" />
		</w:style>
		<w:style w:type="character" w:styleId="1Char">
			<w:name w:val="标题 1 Char" />
			<w:basedOn w:val="a0" />
			<w:link w:val="1" />
			<w:rsid w:val="00C21DE5" />
			<w:rPr>
				<w:rFonts w:ascii="Arial" w:fareast="黑体" w:h-ansi="Arial" />
				<w:b />
				<w:kern w:val="44" />
				<w:sz w:val="36" />
			</w:rPr>
		</w:style>
		<w:style w:type="character" w:styleId="Char">
			<w:name w:val="文档结构图 Char" />
			<w:basedOn w:val="a0" />
			<w:link w:val="a3" />
			<w:rsid w:val="00C21DE5" />
			<w:rPr>
				<w:rFonts w:ascii="宋体" />
				<w:kern w:val="2" />
				<w:sz w:val="18" />
				<w:sz-cs w:val="18" />
			</w:rPr>
		</w:style>
		<w:style w:type="paragraph" w:styleId="a4">
			<w:name w:val="No Spacing" />
			<wx:uiName wx:val="无间隔" />
			<w:rsid w:val="00C21DE5" />
			<w:pPr>
				<w:widowControl w:val="off" />
				<w:spacing w:line="300" w:line-rule="auto" />
				<w:jc w:val="center" />
			</w:pPr>
			<w:rPr>
				<w:rFonts w:ascii="Calibri" w:h-ansi="Calibri" />
				<wx:font wx:val="Calibri" />
				<w:kern w:val="2" />
				<w:sz w:val="28" />
				<w:sz-cs w:val="21" />
				<w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA" />
			</w:rPr>
		</w:style>
		<w:style w:type="paragraph" w:styleId="a3">
			<w:name w:val="Document Map" />
			<wx:uiName wx:val="文档结构图" />
			<w:basedOn w:val="a" />
			<w:link w:val="Char" />
			<w:rsid w:val="00C21DE5" />
			<w:rPr>
				<w:rFonts w:ascii="宋体" />
				<wx:font wx:val="Times New Roman" />
				<w:sz w:val="18" />
				<w:sz-cs w:val="18" />
			</w:rPr>
		</w:style>
		<w:style w:type="paragraph" w:styleId="Default">
			<w:name w:val="Default" />
			<w:rsid w:val="00C21DE5" />
			<w:pPr>
				<w:widowControl w:val="off" />
				<w:autoSpaceDE w:val="off" />
				<w:autoSpaceDN w:val="off" />
				<w:adjustRightInd w:val="off" />
			</w:pPr>
			<w:rPr>
				<w:rFonts w:ascii="宋体壥分..." w:fareast="宋体壥分..." w:cs="宋体壥分..." />
				<wx:font wx:val="Times New Roman" />
				<w:color w:val="000000" />
				<w:sz w:val="24" />
				<w:sz-cs w:val="24" />
				<w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA" />
			</w:rPr>
		</w:style>
		<w:style w:type="paragraph" w:styleId="a5">
			<w:name w:val="header" />
			<wx:uiName wx:val="页眉" />
			<w:basedOn w:val="a" />
			<w:rsid w:val="00C21DE5" />
			<w:pPr>
				<w:pBdr>
					<w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="1" w:color="auto" />
					<w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="4" w:color="auto" />
					<w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="1" w:color="auto" />
					<w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="4" w:color="auto" />
				</w:pBdr>
				<w:snapToGrid w:val="off" />
			</w:pPr>
			<w:rPr>
				<wx:font wx:val="Times New Roman" />
				<w:sz w:val="18" />
			</w:rPr>
		</w:style>
		<w:style w:type="paragraph" w:styleId="a6">
			<w:name w:val="footer" />
			<wx:uiName wx:val="页脚" />
			<w:basedOn w:val="a" />
			<w:rsid w:val="00C21DE5" />
			<w:pPr>
				<w:snapToGrid w:val="off" />
				<w:jc w:val="left" />
			</w:pPr>
			<w:rPr>
				<wx:font wx:val="Times New Roman" />
				<w:sz w:val="18" />
			</w:rPr>
		</w:style>
		<w:style w:type="character" w:styleId="Char0">
			<w:name w:val="标题 Char" />
			<w:link w:val="a7" />
			<w:rsid w:val="004D1C86" />
			<w:rPr>
				<w:rFonts w:ascii="Cambria" w:h-ansi="Cambria" />
				<w:b />
				<w:sz w:val="32" />
			</w:rPr>
		</w:style>
		<w:style w:type="paragraph" w:styleId="a7">
			<w:name w:val="Title" />
			<wx:uiName wx:val="标题" />
			<w:basedOn w:val="a" />
			<w:next w:val="a" />
			<w:link w:val="Char0" />
			<w:rsid w:val="004D1C86" />
			<w:pPr>
				<w:spacing w:before="240" w:after="60" />
				<w:jc w:val="center" />
				<w:outlineLvl w:val="0" />
			</w:pPr>
			<w:rPr>
				<w:rFonts w:ascii="Cambria" w:h-ansi="Cambria" />
				<wx:font wx:val="Cambria" />
				<w:b />
				<w:kern w:val="0" />
				<w:sz w:val="32" />
				<w:lang />
			</w:rPr>
		</w:style>
		<w:style w:type="character" w:styleId="Char1">
			<w:name w:val="标题 Char1" />
			<w:basedOn w:val="a0" />
			<w:link w:val="a7" />
			<w:rsid w:val="004D1C86" />
			<w:rPr>
				<w:rFonts w:ascii="Cambria" w:h-ansi="Cambria" w:cs="Times New Roman" />
				<w:b />
				<w:b-cs />
				<w:kern w:val="2" />
				<w:sz w:val="32" />
				<w:sz-cs w:val="32" />
			</w:rPr>
		</w:style>
		<w:style w:type="paragraph" w:styleId="a8">
			<w:name w:val="Normal (Web)" />
			<wx:uiName wx:val="普通(网站)" />
			<w:basedOn w:val="a" />
			<w:rsid w:val="000E2F36" />
			<w:pPr>
				<w:widowControl />
				<w:spacing w:before="100" w:before-autospacing="on" w:after="100" w:after-autospacing="on" />
				<w:jc w:val="left" />
			</w:pPr>
			<w:rPr>
				<w:rFonts w:ascii="宋体" w:h-ansi="宋体" w:cs="宋体" />
				<wx:font wx:val="宋体" />
				<w:kern w:val="0" />
				<w:sz w:val="24" />
				<w:sz-cs w:val="24" />
			</w:rPr>
		</w:style>
		<w:style w:type="character" w:styleId="apple-converted-space">
			<w:name w:val="apple-converted-space" />
			<w:basedOn w:val="a0" />
			<w:rsid w:val="000E2F36" />
		</w:style>
		<w:style w:type="character" w:styleId="2Char">
			<w:name w:val="标题 2 Char" />
			<w:basedOn w:val="a0" />
			<w:link w:val="2" />
			<w:rsid w:val="00D3054E" />
			<w:rPr>
				<w:rFonts w:ascii="Cambria" w:fareast="宋体" w:h-ansi="Cambria" w:cs="Times New Roman" />
				<w:b />
				<w:b-cs />
				<w:kern w:val="2" />
				<w:sz w:val="32" />
				<w:sz-cs w:val="32" />
			</w:rPr>
		</w:style>
	</w:styles>
	<w:divs>
		<w:div w:id="1554390445">
			<w:bodyDiv w:val="on" />
			<w:marLeft w:val="0" />
			<w:marRight w:val="0" />
			<w:marTop w:val="0" />
			<w:marBottom w:val="0" />
			<w:divBdr>
				<w:top w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto" />
				<w:left w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto" />
				<w:bottom w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto" />
				<w:right w:val="none" w:sz="0" wx:bdrwidth="0" w:space="0" w:color="auto" />
			</w:divBdr>
		</w:div>
	</w:divs>
	<w:shapeDefaults>
		<o:shapedefaults v:ext="edit" spidmax="13314" strokecolor="#739cc3">
			<v:stroke color="#739cc3" weight="1.25pt" />
			<o:colormenu v:ext="edit" strokecolor="red" />
		</o:shapedefaults>
		<o:shapelayout v:ext="edit">
			<o:idmap v:ext="edit" data="1" />
		</o:shapelayout>
	</w:shapeDefaults>
	<w:bgPict>
		<w:background w:bgcolor="white" />
	</w:bgPict>
	<w:docPr>
		<w:view w:val="print" />
		<w:zoom w:percent="100" />
		<w:doNotEmbedSystemFonts />
		<w:bordersDontSurroundHeader />
		<w:bordersDontSurroundFooter />
		<w:defaultTabStop w:val="420" />
		<w:drawingGridVerticalSpacing w:val="156" />
		<w:displayHorizontalDrawingGridEvery w:val="0" />
		<w:displayVerticalDrawingGridEvery w:val="2" />
		<w:punctuationKerning />
		<w:characterSpacingControl w:val="CompressPunctuation" />
		<w:webPageEncoding w:val="x-cp20936" />
		<w:optimizeForBrowser />
		<w:validateAgainstSchema w:val="off" />
		<w:saveInvalidXML w:val="off" />
		<w:ignoreMixedContent w:val="off" />
		<w:alwaysShowPlaceholderText w:val="off" />
		<w:doNotUnderlineInvalidXML />
		<w:hdrShapeDefaults>
			<o:shapedefaults v:ext="edit" spidmax="13314" strokecolor="#739cc3">
				<v:stroke color="#739cc3" weight="1.25pt" />
				<o:colormenu v:ext="edit" strokecolor="red" />
			</o:shapedefaults>
		</w:hdrShapeDefaults>
		<w:footnotePr>
			<w:footnote w:type="separator">
				<w:p wsp:rsidR="005600C5" wsp:rsidRDefault="005600C5">
					<w:r>
						<w:separator />
					</w:r>
				</w:p>
			</w:footnote>
			<w:footnote w:type="continuation-separator">
				<w:p wsp:rsidR="005600C5" wsp:rsidRDefault="005600C5">
					<w:r>
						<w:continuationSeparator />
					</w:r>
				</w:p>
			</w:footnote>
		</w:footnotePr>
		<w:endnotePr>
			<w:endnote w:type="separator">
				<w:p wsp:rsidR="005600C5" wsp:rsidRDefault="005600C5">
					<w:r>
						<w:separator />
					</w:r>
				</w:p>
			</w:endnote>
			<w:endnote w:type="continuation-separator">
				<w:p wsp:rsidR="005600C5" wsp:rsidRDefault="005600C5">
					<w:r>
						<w:continuationSeparator />
					</w:r>
				</w:p>
			</w:endnote>
		</w:endnotePr>
		<w:compat>
			<w:spaceForUL />
			<w:balanceSingleByteDoubleByteWidth />
			<w:doNotLeaveBackslashAlone />
			<w:doNotExpandShiftReturn />
			<w:adjustLineHeightInTable />
			<w:breakWrappedTables />
			<w:snapToGridInCell />
			<w:wrapTextWithPunct />
			<w:useAsianBreakRules />
			<w:dontGrowAutofit />
			<w:useFELayout />
		</w:compat>
		<wsp:rsids>
			<wsp:rsidRoot wsp:val="00172A27" />
			<wsp:rsid wsp:val="0004639A" />
			<wsp:rsid wsp:val="000E2F36" />
			<wsp:rsid wsp:val="00113841" />
			<wsp:rsid wsp:val="00146672" />
			<wsp:rsid wsp:val="00172A27" />
			<wsp:rsid wsp:val="00240CA9" />
			<wsp:rsid wsp:val="00353073" />
			<wsp:rsid wsp:val="00380185" />
			<wsp:rsid wsp:val="00445B64" />
			<wsp:rsid wsp:val="00450B7B" />
			<wsp:rsid wsp:val="004D1C86" />
			<wsp:rsid wsp:val="00542C38" />
			<wsp:rsid wsp:val="005463D2" />
			<wsp:rsid wsp:val="005600C5" />
			<wsp:rsid wsp:val="005A6F2F" />
			<wsp:rsid wsp:val="006A7ECB" />
			<wsp:rsid wsp:val="0078005F" />
			<wsp:rsid wsp:val="007C6459" />
			<wsp:rsid wsp:val="00825C0C" />
			<wsp:rsid wsp:val="00A122B8" />
			<wsp:rsid wsp:val="00A749F4" />
			<wsp:rsid wsp:val="00AB5037" />
			<wsp:rsid wsp:val="00AD343E" />
			<wsp:rsid wsp:val="00B15668" />
			<wsp:rsid wsp:val="00C21DE5" />
			<wsp:rsid wsp:val="00D3054E" />
			<wsp:rsid wsp:val="00D55CC0" />
			<wsp:rsid wsp:val="00E357BA" />
			<wsp:rsid wsp:val="00F302B8" />
			<wsp:rsid wsp:val="00F568F3" />
		</wsp:rsids>
	</w:docPr>
	<w:body>
		<wx:sub-section>
			<w:p wsp:rsidR="004D1C86" wsp:rsidRDefault="004D1C86" wsp:rsidP="004D1C86">
				<w:pPr>
					<w:pStyle w:val="a7" />
					<w:rPr>
						<w:sz w:val="84" />
						<w:sz-cs w:val="84" />
					</w:rPr>
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
						<w:sz w:val="84" />
						<w:sz-cs w:val="84" />
					</w:rPr>
					<w:t>网络舆情日报</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="004D1C86" wsp:rsidRPr="00290B21" wsp:rsidRDefault="004D1C86" wsp:rsidP="004D1C86">
				<w:pPr>
					<w:jc w:val="center" />
					<w:rPr>
						<w:rFonts w:ascii="黑体" w:fareast="黑体" w:h-ansi="仿宋" />
						<wx:font wx:val="黑体" />
						<w:sz-cs w:val="21" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="004D1C86" wsp:rsidRDefault="004D1C86" wsp:rsidP="004D1C86">
				<w:pPr>
					<w:jc w:val="center" />
					<w:rPr>
						<w:rFonts w:ascii="黑体" w:fareast="黑体" w:h-ansi="仿宋" />
						<wx:font wx:val="黑体" />
						<w:sz-cs w:val="21" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="004D1C86" wsp:rsidRDefault="004D1C86" wsp:rsidP="004D1C86">
				<w:pPr>
					<w:jc w:val="center" />
					<w:rPr>
						<w:rFonts w:ascii="黑体" w:fareast="黑体" w:h-ansi="仿宋" />
						<wx:font wx:val="黑体" />
						<w:sz-cs w:val="21" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="004D1C86" wsp:rsidRPr="0068031A" wsp:rsidRDefault="004D1C86" wsp:rsidP="004D1C86">
				<w:pPr>
					<w:jc w:val="center" />
					<w:rPr>
						<w:rFonts w:ascii="黑体" w:fareast="黑体" w:h-ansi="仿宋" />
						<wx:font wx:val="黑体" />
						<w:sz-cs w:val="21" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="004D1C86" wsp:rsidRDefault="00A122B8" wsp:rsidP="004D1C86">
				<w:pPr>
					<w:spacing w:line="276" w:line-rule="auto" />
					<w:ind w:right="26" w:first-line-chars="50" w:first-line="105" />
					<w:rPr>
						<w:rFonts w:ascii="仿宋_GB2312" w:fareast="仿宋_GB2312" w:h-ansi="仿宋" />
						<wx:font wx:val="仿宋_GB2312" />
						<w:sz w:val="32" />
						<w:sz-cs w:val="32" />
					</w:rPr>
				</w:pPr>
				<w:r wsp:rsidRPr="00A122B8">
					<w:pict>
						<v:line id="直接连接符 1" o:spid="_x0000_s1031" style="position:absolute;left:0;text-align:left;z-index:1" from="0,27.6pt" to="420.75pt,27.65pt" strokeweight="2.5pt" />
					</w:pict>
				</w:r>
				<w:r wsp:rsidR="00146672">
					<w:rPr>
						<w:rFonts w:ascii="仿宋_GB2312" w:fareast="仿宋_GB2312" w:h-ansi="仿宋" w:hint="fareast" />
						<wx:font wx:val="仿宋_GB2312" />
						<w:sz w:val="32" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>$!report.custName</w:t>
				</w:r>
				<w:r wsp:rsidR="00146672">
					<w:rPr>
						<w:rFonts w:ascii="仿宋_GB2312" w:fareast="仿宋_GB2312" w:h-ansi="仿宋" />
						<wx:font wx:val="仿宋_GB2312" />
						<w:sz w:val="32" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>
					</w:t>
				</w:r>
				<w:r wsp:rsidR="00146672">
					<w:rPr>
						<w:rFonts w:ascii="仿宋_GB2312" w:fareast="仿宋_GB2312" w:h-ansi="仿宋" w:hint="fareast" />
						<wx:font wx:val="仿宋_GB2312" />
						<w:sz w:val="32" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>$!date.format("yyyy年M月d日",$report.dailyDate)</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="00C21DE5" wsp:rsidRPr="004D1C86" wsp:rsidRDefault="00C21DE5">
				<w:pPr>
					<w:jc w:val="center" />
					<w:rPr>
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
			</w:p>
		</wx:sub-section>
		<wx:sub-section>
			<w:p wsp:rsidR="000E2F36" wsp:rsidRDefault="000E2F36" wsp:rsidP="000E2F36">
				<w:pPr>
					<w:outlineLvl w:val="0" />
					<w:rPr>
						<w:rFonts w:ascii="Cambria" w:fareast="黑体" w:h-ansi="Cambria" />
						<wx:font wx:val="Cambria" />
						<w:b />
						<w:b-cs />
						<w:sz w:val="28" />
						<w:sz-cs w:val="32" />
					</w:rPr>
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
					<w:t>【</w:t>
				</w:r>
				<w:r>
					<w:rPr>
						<w:rFonts w:ascii="Cambria" w:fareast="黑体" w:h-ansi="Cambria" w:hint="fareast" />
						<wx:font wx:val="黑体" />
						<w:b />
						<w:b-cs />
						<w:sz w:val="28" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>舆情概述】</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="000E2F36" wsp:rsidRPr="000E2F36" wsp:rsidRDefault="000E2F36" wsp:rsidP="000E2F36">
				<w:pPr>
					<w:pStyle w:val="a8" />
					<w:spacing w:before="0" w:before-autospacing="off" w:after="0" w:after-autospacing="off" />
					<w:ind w:first-line-chars="207" w:first-line="580" />
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
				</w:pPr>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!date.format("M月d日", $report.dailyDate)凌晨</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>0</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>点至</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!date.format("H", $report.dailyDate)</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>点，监测到相关舆情共</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.articleTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇，</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.newsTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇来自新闻，</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.appTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t> </w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>来自</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>APP</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>新闻，</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.weixinTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇来自微信，</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.weiboTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇来自微博，</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.forumTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇来自论坛，</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.blogTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇来自博客，</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.paperTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇来自纸媒。</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="000E2F36" wsp:rsidRPr="000E2F36" wsp:rsidRDefault="000E2F36" wsp:rsidP="0004639A">
				<w:pPr>
					<w:pStyle w:val="a8" />
					<w:spacing w:before="0" w:before-autospacing="off" w:after="0" w:after-autospacing="off" />
					<w:rPr>
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>     </w:t>
				</w:r>
				<w:r wsp:rsidR="00445B64">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" w:hint="fareast" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>今日</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>发现负面舆情</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.negativeTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇，正面舆情</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.positiveTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇，其中预警舆情</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!report.warningTotal</w:t>
				</w:r>
				<w:r wsp:rsidRPr="000E2F36">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" />
						<w:color w:val="000000" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>篇。</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="000E2F36" wsp:rsidRDefault="000E2F36">
				<w:pPr>
					<w:rPr>
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="00C21DE5" wsp:rsidRDefault="00113841">
				<w:pPr>
					<w:rPr>
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
					<w:t>【</w:t>
				</w:r>
				<w:r>
					<w:rPr>
						<w:rFonts w:ascii="Cambria" w:fareast="黑体" w:h-ansi="Cambria" w:hint="fareast" />
						<wx:font wx:val="黑体" />
						<w:b />
						<w:b-cs />
						<w:sz w:val="28" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>今日预警】</w:t>
				</w:r>
			</w:p>
			#foreach($focusArticle in $report.focusArticles)
			<w:p wsp:rsidR="00542C38" wsp:rsidRDefault="00450B7B">
				<w:pPr>
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" w:cs="宋体" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:kern w:val="0" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" w:cs="宋体" w:hint="fareast" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:kern w:val="0" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>${velocityCount}. </w:t>
				</w:r>
				<w:r wsp:rsidRPr="00450B7B">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" w:cs="宋体" w:hint="fareast" />
						<wx:font wx:val="宋体" />
						<w:color w:val="000000" />
						<w:kern w:val="0" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!esc.xml($focusArticle.title)</w:t>
				</w:r>
			</w:p>
			#end
			<w:p wsp:rsidR="00450B7B" wsp:rsidRDefault="00450B7B">
				<w:pPr>
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" w:cs="宋体" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:kern w:val="0" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="00C21DE5" wsp:rsidRDefault="00113841">
				<w:pPr>
					<w:rPr>
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
					<w:t>【</w:t>
				</w:r>
				<w:r wsp:rsidR="00450B7B">
					<w:rPr>
						<w:rFonts w:ascii="Cambria" w:fareast="黑体" w:h-ansi="Cambria" w:hint="fareast" />
						<wx:font wx:val="黑体" />
						<w:b />
						<w:b-cs />
						<w:sz w:val="28" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>今日热文</w:t>
				</w:r>
				<w:r>
					<w:rPr>
						<w:rFonts w:ascii="Cambria" w:fareast="黑体" w:h-ansi="Cambria" w:hint="fareast" />
						<wx:font wx:val="黑体" />
						<w:b />
						<w:b-cs />
						<w:sz w:val="28" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>】</w:t>
				</w:r>
			</w:p>
			#foreach($topArticle in $report.topArticles)
			<w:p wsp:rsidR="00C21DE5" wsp:rsidRDefault="000E2F36">
				<w:pPr>
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" w:cs="宋体" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:kern w:val="0" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" w:cs="宋体" w:hint="fareast" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:kern w:val="0" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>${velocityCount}. </w:t>
				</w:r>
				<w:r wsp:rsidR="00B15668" wsp:rsidRPr="00B15668">
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" w:cs="宋体" w:hint="fareast" />
						<wx:font wx:val="宋体" />
						<w:color w:val="000000" />
						<w:kern w:val="0" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
					<w:t>$!esc.xml($topArticle.title)</w:t>
				</w:r>
			</w:p>
			#end
			<w:p wsp:rsidR="000E2F36" wsp:rsidRDefault="000E2F36">
				<w:pPr>
					<w:rPr>
						<w:rFonts w:ascii="Verdana" w:h-ansi="Verdana" w:cs="宋体" />
						<wx:font wx:val="Verdana" />
						<w:color w:val="000000" />
						<w:kern w:val="0" />
						<w:sz w:val="28" />
						<w:sz-cs w:val="28" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="00D3054E" wsp:rsidRDefault="00F302B8" wsp:rsidP="00D3054E">
				<w:pPr>
					<w:rPr>
						<w:rFonts w:ascii="Cambria" w:fareast="黑体" w:h-ansi="Cambria" />
						<wx:font wx:val="Cambria" />
						<w:b />
						<w:b-cs />
						<w:sz w:val="28" />
						<w:sz-cs w:val="32" />
					</w:rPr>
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
					<w:t>【</w:t>
				</w:r>
				<w:r>
					<w:rPr>
						<w:rFonts w:ascii="Cambria" w:fareast="黑体" w:h-ansi="Cambria" w:hint="fareast" />
						<wx:font wx:val="黑体" />
						<w:b />
						<w:b-cs />
						<w:sz w:val="28" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>今日预警】</w:t>
				</w:r>
			</w:p>
		</wx:sub-section>
		<wx:sub-section>
			#foreach($focusArticle in $report.focusArticles)
			<w:p wsp:rsidR="00D3054E" wsp:rsidRPr="00D3054E" wsp:rsidRDefault="00D3054E" wsp:rsidP="00146672">
				<w:pPr>
					<w:pStyle w:val="1" />
					<w:keepNext />
					<w:pageBreakBefore w:val="off" />
					<w:spacing w:before-lines="100" w:after="0" w:line="240" w:line-rule="auto" />
					<w:jc w:val="left" />
					<w:rPr>
						<w:rFonts w:ascii="Consolas" w:fareast="宋体" w:h-ansi="Consolas" w:cs="Consolas" />
						<wx:font wx:val="Consolas" />
						<w:b-cs />
						<w:sz w:val="32" />
						<w:sz-cs w:val="32" />
					</w:rPr>
				</w:pPr>
				<w:r wsp:rsidRPr="00D3054E">
					<w:rPr>
						<w:rFonts w:ascii="Consolas" w:fareast="宋体" w:h-ansi="Consolas" w:cs="Consolas" />
						<wx:font wx:val="宋体" />
						<w:b-cs />
						<w:sz w:val="32" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>$!esc.xml($focusArticle.title)</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="00D3054E" wsp:rsidRDefault="00D3054E" wsp:rsidP="00D3054E">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="00D3054E" wsp:rsidRDefault="00D3054E" wsp:rsidP="00D3054E">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
					</w:rPr>
					<w:t>$!esc.xml($focusArticle.content)</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="00D3054E" wsp:rsidRPr="00D3054E" wsp:rsidRDefault="00D3054E" wsp:rsidP="00D3054E" />
			<w:p wsp:rsidR="00D3054E" wsp:rsidRDefault="00D3054E" wsp:rsidP="00D3054E" />
			<w:p wsp:rsidR="00D3054E" wsp:rsidRDefault="00D3054E" wsp:rsidP="00D3054E">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
					</w:rPr>
					<w:t>阅读数：</w:t>
				</w:r>
				<w:r wsp:rsidRPr="00004738">
					<w:t>$!focusArticle.readCount</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="00D3054E" wsp:rsidRDefault="00D3054E" wsp:rsidP="00D3054E">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
					</w:rPr>
					<w:t>回复数：</w:t>
				</w:r>
				<w:r wsp:rsidRPr="00004738">
					<w:t>$!focusArticle.replyCount</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="00D3054E" wsp:rsidRDefault="00D3054E" wsp:rsidP="00D3054E">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
					</w:rPr>
					<w:t>发布时间：</w:t>
				</w:r>
				<w:r wsp:rsidRPr="00004738">
					<w:t>$date.format("yyyy-MM-dd HH:mm:ss",$!focusArticle.postTime)</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="00D3054E" wsp:rsidRDefault="00D3054E" wsp:rsidP="00D3054E">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
					</w:rPr>
					<w:t>原文连接：</w:t>
				</w:r>
				<w:r wsp:rsidRPr="009B4DE6">
					<w:t>$!esc.xml($focusArticle.url)</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="0078005F" wsp:rsidRPr="00D3054E" wsp:rsidRDefault="0078005F" wsp:rsidP="00D55CC0">
				<w:pPr>
					<w:ind w:first-line-chars="200" w:first-line="522" />
					<w:rPr>
						<w:b />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="0078005F" wsp:rsidRDefault="0078005F" wsp:rsidP="00D55CC0">
				<w:pPr>
					<w:ind w:first-line-chars="200" w:first-line="522" />
					<w:rPr>
						<w:b />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="0078005F" wsp:rsidRDefault="0078005F" wsp:rsidP="00D55CC0">
				<w:pPr>
					<w:ind w:first-line-chars="200" w:first-line="522" />
					<w:rPr>
						<w:b />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
			</w:p>
			#end
			<w:p wsp:rsidR="0078005F" wsp:rsidRDefault="0078005F" wsp:rsidP="0078005F">
				<w:pPr>
					<w:rPr>
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
					<w:t>【</w:t>
				</w:r>
				<w:r>
					<w:rPr>
						<w:rFonts w:ascii="Cambria" w:fareast="黑体" w:h-ansi="Cambria" w:hint="fareast" />
						<wx:font wx:val="黑体" />
						<w:b />
						<w:b-cs />
						<w:sz w:val="28" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>今日热文】</w:t>
				</w:r>
			</w:p>
		</wx:sub-section>
		<wx:sub-section>
			#foreach($topArticle in $report.topArticles)
			<w:p wsp:rsidR="005A6F2F" wsp:rsidRPr="00D3054E" wsp:rsidRDefault="005A6F2F" wsp:rsidP="00146672">
				<w:pPr>
					<w:pStyle w:val="1" />
					<w:keepNext />
					<w:pageBreakBefore w:val="off" />
					<w:spacing w:before-lines="100" w:after="0" w:line="240" w:line-rule="auto" />
					<w:jc w:val="left" />
					<w:rPr>
						<w:rFonts w:ascii="Consolas" w:fareast="宋体" w:h-ansi="Consolas" w:cs="Consolas" />
						<wx:font wx:val="Consolas" />
						<w:b-cs />
						<w:sz w:val="32" />
						<w:sz-cs w:val="32" />
					</w:rPr>
				</w:pPr>
				<w:r wsp:rsidRPr="00D3054E">
					<w:rPr>
						<w:rFonts w:ascii="Consolas" w:fareast="宋体" w:h-ansi="Consolas" w:cs="Consolas" />
						<wx:font wx:val="宋体" />
						<w:b-cs />
						<w:sz w:val="32" />
						<w:sz-cs w:val="32" />
					</w:rPr>
					<w:t>$!esc.xml($topArticle.title)</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="005A6F2F" wsp:rsidRDefault="005A6F2F" wsp:rsidP="005A6F2F">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="005A6F2F" wsp:rsidRDefault="005A6F2F" wsp:rsidP="005A6F2F">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
					</w:rPr>
					<w:t>$!esc.xml($topArticle.content)</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="005A6F2F" wsp:rsidRPr="00D3054E" wsp:rsidRDefault="005A6F2F" wsp:rsidP="005A6F2F" />
			<w:p wsp:rsidR="005A6F2F" wsp:rsidRDefault="005A6F2F" wsp:rsidP="005A6F2F" />
			<w:p wsp:rsidR="005A6F2F" wsp:rsidRDefault="005A6F2F" wsp:rsidP="005A6F2F">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
					</w:rPr>
					<w:t>阅读数：</w:t>
				</w:r>
				<w:r wsp:rsidRPr="00004738">
					<w:t>$!topArticle.readCount</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="005A6F2F" wsp:rsidRDefault="005A6F2F" wsp:rsidP="005A6F2F">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
					</w:rPr>
					<w:t>回复数：</w:t>
				</w:r>
				<w:r wsp:rsidRPr="00004738">
					<w:t>$!topArticle.replyCount</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="005A6F2F" wsp:rsidRDefault="005A6F2F" wsp:rsidP="005A6F2F">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
					</w:rPr>
					<w:t>发布时间：</w:t>
				</w:r>
				<w:r wsp:rsidRPr="00004738">
					<w:t>$date.format("yyyy-MM-dd HH:mm:ss",$!topArticle.postTime)</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="005A6F2F" wsp:rsidRDefault="005A6F2F" wsp:rsidP="005A6F2F">
				<w:pPr>
					<w:jc w:val="left" />
				</w:pPr>
				<w:r>
					<w:rPr>
						<w:rFonts w:hint="fareast" />
						<wx:font wx:val="宋体" />
					</w:rPr>
					<w:t>原文连接：</w:t>
				</w:r>
				<w:r wsp:rsidRPr="009B4DE6">
					<w:t>$!esc.xml($topArticle.url)</w:t>
				</w:r>
			</w:p>
			<w:p wsp:rsidR="0078005F" wsp:rsidRPr="00D3054E" wsp:rsidRDefault="0078005F" wsp:rsidP="00D55CC0">
				<w:pPr>
					<w:ind w:first-line-chars="200" w:first-line="522" />
					<w:rPr>
						<w:b />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="0078005F" wsp:rsidRDefault="0078005F" wsp:rsidP="00D55CC0">
				<w:pPr>
					<w:ind w:first-line-chars="200" w:first-line="522" />
					<w:rPr>
						<w:b />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
			</w:p>
			<w:p wsp:rsidR="0078005F" wsp:rsidRDefault="0078005F" wsp:rsidP="00D55CC0">
				<w:pPr>
					<w:ind w:first-line-chars="200" w:first-line="522" />
					<w:rPr>
						<w:b />
						<w:color w:val="000000" />
						<w:sz w:val="26" />
					</w:rPr>
				</w:pPr>
			</w:p>
			#end
		</wx:sub-section>
		<w:sectPr wsp:rsidR="0078005F" wsp:rsidRPr="005A6F2F" wsp:rsidSect="00AA2C24">
			<w:hdr w:type="even">
				<wx:pBdrGroup>
					<wx:borders>
						<wx:top wx:val="none" wx:bdrwidth="0" wx:space="1" wx:color="auto" />
						<wx:left wx:val="none" wx:bdrwidth="0" wx:space="4" wx:color="auto" />
						<wx:bottom wx:val="none" wx:bdrwidth="0" wx:space="1" wx:color="auto" />
						<wx:right wx:val="none" wx:bdrwidth="0" wx:space="4" wx:color="auto" />
					</wx:borders>
					<w:p wsp:rsidR="00C21DE5" wsp:rsidRDefault="00C21DE5">
						<w:pPr>
							<w:pStyle w:val="a5" />
							<w:tabs>
								<w:tab w:val="center" w:pos="4153" />
								<w:tab w:val="right" w:pos="8306" />
							</w:tabs>
						</w:pPr>
					</w:p>
				</wx:pBdrGroup>
			</w:hdr>
			<w:hdr w:type="odd">
				<wx:pBdrGroup>
					<wx:borders>
						<wx:top wx:val="none" wx:bdrwidth="0" wx:space="1" wx:color="auto" />
						<wx:left wx:val="none" wx:bdrwidth="0" wx:space="4" wx:color="auto" />
						<wx:bottom wx:val="none" wx:bdrwidth="0" wx:space="1" wx:color="auto" />
						<wx:right wx:val="none" wx:bdrwidth="0" wx:space="4" wx:color="auto" />
					</wx:borders>
					<w:p wsp:rsidR="00C21DE5" wsp:rsidRDefault="00113841">
						<w:pPr>
							<w:pStyle w:val="a5" />
							<w:tabs>
								<w:tab w:val="center" w:pos="4153" />
								<w:tab w:val="right" w:pos="8306" />
							</w:tabs>
						</w:pPr>
						<w:r>
							<w:rPr>
								<w:rFonts w:hint="fareast" />
							</w:rPr>
							<w:t>
							</w:t>
						</w:r>
					</w:p>
				</wx:pBdrGroup>
			</w:hdr>
			<w:ftr w:type="even">
				<w:p wsp:rsidR="00C21DE5" wsp:rsidRDefault="00C21DE5">
					<w:pPr>
						<w:pStyle w:val="a6" />
						<w:tabs>
							<w:tab w:val="center" w:pos="4153" />
							<w:tab w:val="right" w:pos="8306" />
						</w:tabs>
					</w:pPr>
				</w:p>
			</w:ftr>
			<w:ftr w:type="odd">
				<w:p wsp:rsidR="002A5D63" wsp:rsidRDefault="00380185">
					<w:pPr>
						<w:pStyle w:val="a6" />
						<w:jc w:val="right" />
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
					</w:pPr>
					<w:r wsp:rsidRPr="002A5D63">
						<w:rPr>
							<w:sz w:val="24" />
							<w:sz-cs w:val="24" />
							<w:lang w:val="ZH-CN" />
						</w:rPr>
						<w:t>
						</w:t>
					</w:r>
				</w:p>
				<w:p wsp:rsidR="00AA2C24" wsp:rsidRPr="002A5D63" wsp:rsidRDefault="00A122B8" wsp:rsidP="00AA2C24">
					<w:pPr>
						<w:pStyle w:val="a6" />
						<w:tabs>
							<w:tab w:val="center" w:pos="4153" />
							<w:tab w:val="right" w:pos="8306" />
						</w:tabs>
						<w:jc w:val="center" />
						<w:rPr>
							<w:sz w:val="24" />
							<w:sz-cs w:val="24" />
						</w:rPr>
					</w:pPr>
					<w:r wsp:rsidRPr="002A5D63">
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
						<w:fldChar w:fldCharType="begin" />
					</w:r>
					<w:r wsp:rsidR="00380185" wsp:rsidRPr="002A5D63">
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
						<w:instrText>PAGE</w:instrText>
					</w:r>
					<w:r wsp:rsidRPr="002A5D63">
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
						<w:fldChar w:fldCharType="separate" />
					</w:r>
					<w:r wsp:rsidR="00146672">
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:noProof />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
						<w:t>1</w:t>
					</w:r>
					<w:r wsp:rsidRPr="002A5D63">
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
						<w:fldChar w:fldCharType="end" />
					</w:r>
					<w:r wsp:rsidR="00380185" wsp:rsidRPr="002A5D63">
						<w:rPr>
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
							<w:lang w:val="ZH-CN" />
						</w:rPr>
						<w:t> / </w:t>
					</w:r>
					<w:r wsp:rsidRPr="002A5D63">
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
						<w:fldChar w:fldCharType="begin" />
					</w:r>
					<w:r wsp:rsidR="00380185" wsp:rsidRPr="002A5D63">
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
						<w:instrText>NUMPAGES</w:instrText>
					</w:r>
					<w:r wsp:rsidRPr="002A5D63">
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
						<w:fldChar w:fldCharType="separate" />
					</w:r>
					<w:r wsp:rsidR="00146672">
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:noProof />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
						<w:t>2</w:t>
					</w:r>
					<w:r wsp:rsidRPr="002A5D63">
						<w:rPr>
							<w:b />
							<w:b-cs />
							<w:sz w:val="21" />
							<w:sz-cs w:val="21" />
						</w:rPr>
						<w:fldChar w:fldCharType="end" />
					</w:r>
				</w:p>
			</w:ftr>
			<w:hdr w:type="first">
				<wx:pBdrGroup>
					<wx:borders>
						<wx:top wx:val="none" wx:bdrwidth="0" wx:space="1" wx:color="auto" />
						<wx:left wx:val="none" wx:bdrwidth="0" wx:space="4" wx:color="auto" />
						<wx:bottom wx:val="none" wx:bdrwidth="0" wx:space="1" wx:color="auto" />
						<wx:right wx:val="none" wx:bdrwidth="0" wx:space="4" wx:color="auto" />
					</wx:borders>
					<w:p wsp:rsidR="00C21DE5" wsp:rsidRDefault="00C21DE5">
						<w:pPr>
							<w:pStyle w:val="a5" />
							<w:tabs>
								<w:tab w:val="center" w:pos="4153" />
								<w:tab w:val="right" w:pos="8306" />
							</w:tabs>
						</w:pPr>
					</w:p>
				</wx:pBdrGroup>
			</w:hdr>
			<w:ftr w:type="first">
				<w:p wsp:rsidR="00C21DE5" wsp:rsidRDefault="00C21DE5">
					<w:pPr>
						<w:pStyle w:val="a6" />
						<w:tabs>
							<w:tab w:val="center" w:pos="4153" />
							<w:tab w:val="right" w:pos="8306" />
						</w:tabs>
					</w:pPr>
				</w:p>
			</w:ftr>
			<w:pgSz w:w="11906" w:h="16838" />
			<w:pgMar w:top="1157" w:right="1797" w:bottom="1157" w:left="1797" w:header="851" w:footer="992" w:gutter="0" />
			<w:cols w:space="720" />
			<w:docGrid w:type="lines" w:line-pitch="312" />
		</w:sectPr>
	</w:body>
</w:wordDocument>