#parse("/common/header.vm")

<link href="${rc.contextPath}/css/setup.css" rel="stylesheet"
	type="text/css" />
<script src="${rc.contextPath}/js/localsetting/ls-homepage.js"
	type="text/javascript"></script>

<script src="${rc.contextPath}/js/system/orgManager.js"
	type="text/javascript"></script>

<div class="c_main"> 
  <div class="c_list c_mr15">
    <div class="c_title">
        <p class="c_location"><i class="c_loc_icon c_sprite"></i><span>当前位置：</span><span href="#">设置</span><span>></span><span href="#">系统</span><span>></span><span href="#">角色管理</span></p>
    </div>
    <!--location line end-->   
     <div class="c_search_box">
      <div class="c_fl">
        <span>角色检索：</span>
        	<input type="text" id="roleName" class="c_keywds c_mr10"/>
			<form id="condition-form" class="c_none">
				<input type="hidden" name="name"/>
			</form>
        <a type="button" class="c_button c_ml10 c_fl"  onclick="initPage(1,20)">查询</a>
      </div>
      <div class="c_fr">
      <a href="${rc.contextPath}/roleManage/toAddRole.htm" class="c_search_link c_search_sys2 c_fl">新增角色</a>
      </div> 
    </div>
     <div class="c_mt15"></div>
        <div class="c_tab_block" id="dataDiv"></div>
	
	 #paging("id", "search-roleManager-paging")
	 </div>
</div>
<!--c_alt_box-->
<script type="text/javascript">
	$(function() {
		initPage(1, 20);
		$("#search-roleManager-paging").paging({
			gotoNoImpl : initPage
		});

		
		 document.onkeydown=function(event){
		        var e = event || window.event || arguments.callee.caller.arguments[0];
		        if(e && e.keyCode==13){ 
		        	initPage(1,20);
		        }
		    }; 
		
	});
	function initPage(pageNo, pagesize) {
		var roleName = $.trim($("#roleName").val());
		$('input[name="name"]').val(roleName);
		ajaxCommFun(
				"${rc.contextPath}/roleManage/listAllRole.htm",
				$("#condition-form").serialize(),
				function(response) {
					if (response.type == dict.action.suc) {
						$("#dataDiv").empty();
						var h = '<ul class="c_tab1">'
								+ '<li class="c_tab_sys3_sub1">角色名</li>'
								+ '<li class="c_tab_sys3_sub2">权限</li>'
								+ '<li class="c_tab_sys3_sub3" >是否系统默认</li>'
								+ '<li class="c_tab_sys3_sub4">操作</li>'
								+ '</ul>';
						$("#dataDiv").append(h);
						$(response.data.data)
								.each(
										function(prop, value) {
											var isSystemDef="否"
											var edit="";
											if(value.createrId=="0"){
												isSystemDef="是"
											}else{
												edit='<div tag="sj"><div><a href="${rc.contextPath}/roleManage/toUpdateRole.htm?roleId='+value.id+//
													'" class="c_mr10 c_color_deeporange">编辑</a><a href="javaScript:void(0);" onclick="deleteRole('+value.id+')" class="c_amore">删除</a></div></div>';
											}
											var data = '<ul class="c_tab2 c_tab_top">'
												+ '<li class="c_tab_sys3_sub1">'+value.name+'</li>'
												+ '<li class="c_tab_sys3_sub2"><div class="c_mr10 c_omit" id="perm'+value.id+'"></div></li>'
												+ '<li class="c_tab_sys3_sub3">'+isSystemDef+'</li>'
												+ '<li class="c_tab_sys3_sub4">'+edit+'</li>'
													+ '</ul>';
											$("#dataDiv").append(data);
											queryPerm(value.id);
										});
						$("#search-roleManager-paging").paging("setInfo",
								response.data.pageNo, response.data.pageSize,
								response.data.totalPages,
								response.data.totalRecords);
						page.paging.tosetInfo(response.data.pageNo,
								response.data.pageSize,
								response.data.totalPages,
								response.data.totalRecords);
						
					} else {
						layer.alert(response.message);
					}
				});
	}
	
	
	var queryPerm=function(roleId){
		var fun = function(msg) {
			layer.closeAll();
			if (msg.result == "success") {
				var content="";
				$(msg.permList).each(function(prop, value) {
					if(prop==(msg.permList.length-1)){
						content=content+value.name;
					}else{
					content=content+value.name+" | ";
					}
				})
				$("#perm"+roleId).append(content);
			} else {
				layer.alert(msg.result);
			}
		}
		ajaxCommFun("${rc.contextPath}/roleManage/queryPerm.htm","roleId="+roleId, fun);
	}
	
	
	var deleteRole=function(roleId){
		var submit = function() {
			var fun = function(msg) {
				layer.closeAll();
				if (msg.result == "success") {
					initPage(1,20);
				} else {
					layer.alert(msg.result);
				}
			}
			ajaxCommFun("${rc.contextPath}/roleManage/deleteRole.htm","roleId="+roleId, fun);
		}
		layer.confirm("确认删除该角色？", submit, "提示");
	}

</script>
#parse("/common/footer.vm")



