 #foreach($relation in $relations) 
 #set($index = $velocityCount + ($!queryRest.currentPage - 1) * 20)
 <ul class="c_tab2 c_tab_top">
      <li class="c_tab_per_rel1 c_tc"><div id="clossRelation-id">$velocityCount</div></li>
      <li class="c_tab_per_rel2"><div class="c_omit c_amore"><a href="#" class="c_amore">$!relation.trueName</a></div></li>
      <li class="c_tab_per_rel3"><div class="c_mr10 c_omit c_color_green"><a href="#" class="c_color_green">$!relation.virtualName</a></div></li>
      <li class="c_tab_per_rel4"><div class="c_mr10 c_omit">$!relation.siteIdName</div></li>
      <li class="c_tab_per_rel5"><div><a class="c_mr10 c_color_cyan" tag="cancel-relation" oid="$!relation.vid">取消关联</a></div></li>
 </ul>
#end