		</div>
	</div>
	 <div class="c_footer" style="display:none;">CopyRight© 中青华云 All Rights Reserved
	 	<i style="vertical-align: -14%; margin-left: 32px;">
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259909902'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259909902%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
     	</i>
     </div>
</body>
</html>