
#set($pagecss = ["errorpage_news.css"])

#parse("/common/header.vm")

<div style="display: none;">COMMON_EXCEPTION_MESSAGE_PAGE</div>
<div style="display: none;" id="COMMON_EXCEPTION_MESSAGE_CONTENT">$message.message</div>

<div class="c_main">

     <!--500-->
     <div class="c_errorpage500">
     	<div class="c_errorpage_but">
         	<a href="javascript:history.go(-1);" class="c_errorpage_back">上一步</a>
         	<a href="${rc.contextPath}/home/index.htm" class="c_errorpage_index c_ml10">返回首页</a>
        </div>
     </div>     
     <!--500end-->
     
</div>

#parse("/common/footer.vm")
