<div class="c_alt_box c_w700 c_h450 c_alert_theme_03 c_postion_w700" tag="popup-box" oid="site" style="display: none;">
	<div class="c_alt_tit">
		<div class="c_fl c_alt_titTag c_w670 c_h30">
			<i class=" c_sprite c_tit_icon02"></i><span>选择站点</span>
		</div>
		<ul class="c_fr">
			<li><a href="javascript:void(0);" class="c_sprite c_tit_close box-close"></a></li>
		</ul>
	</div>
	<div class="c_alt_con c_h420 c_pr">
		<div class="c_con_tag">
			<div class="c_mr5 c_fl c_mt5">已选:</div>
			<ul class=" c_con_tit c_ml40 value-container"></ul>
		</div>
		<!-- <div class="c_fr c_con_search c_mr10">
			<input type="text" class="input" value="请输入关键字" onFocus="if(this.value == this.defaultValue) this.value = '';" onBlur="if(this.value == '') this.value = this.defaultValue;"><a href="javascript:void(0);" class="c_search c_ml5">查询</a>
		</div> -->
		<div class="c_alt_content c_cb c_m10">
			<div class="c_nav_alt">
				<div>
					<a href="javascript:void(0);" name="navi" rel="navi2" tag="option-tab" oid="media" class="">媒体类型</a>
				</div>
				<div>
					<a href="javascript:void(0);" name="navi" rel="navi1" tag="option-tab" oid="site" class="nav_pag_active">站点分类</a>
				</div>
			</div>
			<div id="navi1" tag="option-card" oid="site" style="display: none;">
				<div class="c_con_list c_cb c_m10 c_f12">
					<div class="c_tab_choice c_fl" tag="site-item" oid="all">
						<div class="c_sprite c_choice_icon  c_fl" tag="site-hook" oid="all"></div>
						<div class="c_fl c_tag_active c_w50" title="$meta" tag="site-name" oid="all">全部</div>
						<div class="c_cb"></div>
					</div>
					#foreach($meta in ${siteCategorys.keySet()})
					<div class="c_tab_choice c_fl" tag="site-item" oid="-${siteCategorys.get($meta)}">
						<div class="c_sprite c_choice_icon  c_fl" tag="site-hook" oid="-${siteCategorys.get($meta)}"></div>
						<div class="c_fl c_tag_active c_w50" title="$meta" tag="site-name" oid="-${siteCategorys.get($meta)}">$meta</div>
						<div class="c_cb"></div>
					</div>
					#end
				</div>
				<div tag="option-container" oid="all"></div>
				#foreach($meta in ${siteCategorys.keySet()})
				<div tag="option-container" oid="-${siteCategorys.get($meta)}"></div>
				#end
			</div>
			<div id="navi2" tag="option-card" oid="media" style="display: none;">
				<div id="navi2" tag="option-container" oid="type">
					<div class="c_con_list c_cb c_m10 c_f12">
						#foreach($bean in $const.list("MediaType"))
						<div class="c_tab_choice c_fl" tag="option-item" oid="$bean.value">
							<div class="c_sprite c_choice_icon  c_fl" tag="option-hook" oid="$bean.value"></div>
							<div class="c_fl c_tag_active c_w50" title="$bean.name" tag="option-name" oid="$bean.value">$bean.name</div>
							<div class="c_cb"></div>
						</div>
						#end
					</div>
					#foreach($meta in ${mediaType.keySet()})
					<div tag="option-container" oid="${mediaType.get($meta)}"></div>
					#end
				</div>
			</div>
		</div>
		<div class="c_alt_but c_w700 c_change_butbg">
			<div class="c_change_but c_change_but01">
				<a href="javascript:void(0);" class="c_but_ok c_mr10 box-submit">确定</a><a href="javascript:void(0);" class="c_but_no box-cancel">取消</a>
			</div>
		</div>
		<div tag="option-hidden-container">
			<div tag="option-hidden" oid="all" name="全部"></div>
			#foreach($meta in ${siteCategorys.keySet()})
			<div tag="option-hidden" oid="-${siteCategorys.get($meta)}" name="$meta"></div>
			#end
			#foreach($bean in $const.list("MediaType"))
			<div tag="option-hidden" oid="$bean.value" name="$bean.name"></div>
			#end
		</div>
		<script type="text/javascript" src="${rc.contextPath}/js/search/pop-up-option.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/js/search/pop-up-site.js"></script>
	</div>
</div>