<div class="c_alt_box c_w760 c_h450" tag="popup-box" oid="user-picker" style="display: none;">
	<div class="c_alt_tit">
		<div class="c_fl c_alt_titTag c_w670 c_h30">
			<i class=" c_sprite c_tit_icon02"></i><span>选择用户</span>
		</div>
		<ul class="c_fr">
			<li><a href="javascript:void(0);" class="c_sprite c_tit_close box-close"></a></li>
		</ul>
	</div>
	<div class="c_alt_con c_h420 c_pr">
		<div class="c_fl c_box_lf c_border">
			<div class="c_box_tit">
				<div class="c_fl">组织列表</div>
				<div class="c_org_search c_fr c_mr5 c_mt5">
					<input type="text" class="c_fl" placeholder="用户搜索" name="keyword" />
					<div class="c_sprite c_fl c_org_searchBtn btn-search-user"></div>
				</div>
			</div>
			<div class="c_fl c_box_sub_lf">
				<ul class="c_h330">
					<div class="scrollbar-org" style="width: 268px;">
						<div class="scrollbar" style="height: 330px;">
							<div class="c_scrol_track" style="height: 330px;">
								<div class="c_scrol_thumb" style="top: 0px; height: 280.670103092784px;">
									<div class="c_scrol_end"></div>
								</div>
							</div>
						</div>
						<div class="c_scrol_viewport c_h330 c_w260">
							<div class="c_scrol_overview c_w260" style="top: 0px;">
								<div class="c_h10"></div>
								<div tag="item-org" oid="0" class="c_org c_f12 c_cb">
									<div class="c_fl c_ml5 c_org_check ">
										<input tag="btn-select-org" oid="" type="checkbox">
									</div>
									<div class="c_org_select">
										<div class="c_ml010">
											<div tag="btn-show-user" oid="" class=" c_ml10 c_omit" title="所有用户">所有用户</div>
										</div>
									</div>
								</div>
								<div class="list-orgnization" tag="list-sub-org" oid="0" level="-1"></div>
							</div>
						</div>
					</div>
				</ul>
			</div>
			<div class="c_fr c_box_sub_rg c_f12">
				<div class="c_org_msg c_bg_gay  c_pl20 c_tl">姓名</div>
				<div class="c_org_name c_alert_theme2">
					<ul class=" c_h300">
						<div class="scrollbar-user" style="width: 228px;">
							<div class="scrollbar">
								<div class="c_scrol_track">
									<div class="c_scrol_thumb">
										<div class="c_scrol_end"></div>
									</div>
								</div>
							</div>
							<div class="c_scrol_viewport c_h300 c_w220">
								<div class="c_scrol_overview c_w220">
									<div class="list-user"></div>
								</div>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div class="c_fr c_box_rg c_border">
			<div class="c_box_tit">接受对象</div>
			<div class="c_box_rgcon c_f12">
				<ul class="c_h330">
					<div class="scrollbar-selected-user" style="width: 228px;">
						<div class="scrollbar">
							<div class="c_scrol_track">
								<div class="c_scrol_thumb">
									<div class="c_scrol_end"></div>
								</div>
							</div>
						</div>
						<div class="c_scrol_viewport c_h330 c_w220">
							<div class="c_scrol_overview c_w220 list-selected-user"></div>
						</div>
					</div>
				</ul>
			</div>
		</div>
		<div class="c_alt_but c_w760 c_change_butbg">
			<div class="c_change_but c_change_but01">
				<a href="javascript:void(0);" class="c_but_ok c_mr10 box-submit">确定</a> 
				<a href="javascript:void(0);" class="c_but_no box-cancel">取消</a>
			</div>
		</div>
	</div>
</div>
