#set($articles = $pageInfo.data)
#parse("/recommend/list-article.vm")
<script type="text/javascript">
	$(function() {
		page.paging.tosetInfo($!pageInfo.pageNo, $!pageInfo.pageSize, $!pageInfo.totalPages, $!pageInfo.totalRecords);
	})
</script>
