<div class="c_alt_box c_w330 c_alert_theme_02" tag="popup-box" oid="topicInit-input" style="display: none;">
<form tag="topicInit-form">
	<div class="c_alt_tit">
		<div class="c_fl c_alt_titTag c_w300 c_h30">
			<i class=" c_sprite c_tit_icon02"></i>
			<span>设置专题初始化开始日期</span>
		</div>
		<ul class="c_fr">
			<li><a href="javascript:void(0);" class="c_sprite c_tit_close box-close"></a></li>
		</ul>
	</div>
	<div class="c_alt_con c_pr">
		<div class="c_cb c_m10 c_f12">
			<span class="c_color_gay">设置初始化开始时间：</span>
			<input type="hidden" name="topicInitId" />
			<input type="text" name="topicInitDate" id="topicInitDate" class="input c_cal_icon c_w170" maxlength="50" />
		</div>
		<div class="c_change_butbg">
			<div class="c_change_but c_change_but01">
				<a href="javascript:void(0);" class="c_but_ok c_mr10 box-submit">确定</a>
				<a href="javascript:void(0);" class="c_but_no box-cancel">取消</a>
			</div>
		</div>
	</div>
</form>
</div>