 #set($pagecss = ["setup_focus.css"]) #parse("/common/header.vm")
<div class="c_main">
	<div class="c_list c_mr15">
		<div class="c_title">
			<p class="c_location">
				<i class="c_loc_icon c_sprite"></i><span>当前位置：</span><span href="setup.html">设置</span><span>></span><span href="setup_focus.html">预警</span><span>></span><span href="setup_focus.html">新增预警</span>
			</p>
		</div>
		<div class="c_search_box">
			<div class="c_fr">
				<a href="javascript:void(0);" tag="btn-back-to-rule" oid="$request.getParameter('pageNo')" class="c_search_link c_search_sys2 c_fl">返回</a>
			</div>
		</div>
		<div class="c_mt15"></div>
		<form id="rule-form">
			<div class="c_tab_block">
				<ul class="c_tab1">
					<li class="c_tab_add1"></li>
					<li class="c_tab_add2">预警名称</li>
					<li class="c_tab_add3">关键词（多个关键词用空格分隔）</li>
					<li class="c_tab_add4">操作</li>
				</ul>
				<ul class="c_tab2 c_tab_top">
					<li class="c_tab_add1"><div>
							<a href="javascript:void(0);" class="c_tab_time c_w80 c_mt5 c_bc  c_tc add-rule-row">新增</a>
						</div></li>
					<li class="c_tab_add2"><div class="c_mr15">
							<input type="text" class="input c_w" tag="rulename" name="rules[0].name" maxlength="25" title="必须小于25个字符！">
						</div></li>
					<li class="c_tab_add3"><div class="c_mr15">
							<input type="text" class="input c_w" tag="keyword" name="rules[0].keyword" maxlength="200" title="必须小于200个字符！">
						</div></li>
					<li class="c_tab_add4"><div></div></li>
				</ul>
				<div id="warning-rule-input-list"></div>
				<div class="c_cb c_change_butbg">
					<div class="c_change_but c_change_but01">
						<a href="javascript:void(0);" tag="btn-submit-rule" class="c_but_ok c_mr10">确定</a><a href="javascript:void(0);" tag="btn-back-to-rule" oid="$request.getParameter('pageNo')" class="c_but_no">取消</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript" src="${rc.contextPath}/js/localsetting/warning-interface.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/localsetting/ls-warning-rule-batchinput.js"></script>
#parse("/common/footer.vm")
