
#set($pagecss = ["setup_focus.css"])

#parse("/common/header.vm")
<div class="c_main">
	<div class="c_list c_mr15">
		<div class="c_title">
			<h3 class="c_name">
				<p class="c_location">
					<i class="c_loc_icon c_sprite"></i><span>当前位置：</span><span href="javascript:void(0);">设置</span><span>></span><span href="javascript:void(0);">预警</span>
				</p>
			</h3>
		</div>
		<div class="c_search_box">
			<div class="c_fl">
				<span>关键字：</span><input type="text" class="c_keywds" id="rule-name" /><a type="button" class="c_button c_ml10 c_fl" tag="btn-search-rule">查询</a>
				<form id="condition-form">
						<input type="hidden" name="name"/>
				</form>
			</div>
			<div class="c_fr">
				<a href="javascript:void(0);" class="c_search_link c_search_sys2 c_fl" tag="btn-add-rule">新增预警</a>
			</div>
		</div>
		<div class="c_mt15"></div>
		<div class="c_tab_block">
			<ul class="c_tab1">
				<li class="c_tab_focus1">预警名称</li>
				<li class="c_tab_focus2">包含关键词</li>
				<li class="c_tab_focus3">不包含关键词</li>
				<li class="c_tab_focus4">预警状态</li>
				<li class="c_tab_focus5">操作</li>
			</ul>
			<div id="warning-rule-list">
				#set($rules = $pageInfo.data) 
				#parse("/localsetting/warning-index-list-rule.vm")
			</div>
		</div>

		#paging("id", "warning-rule-list-paging")

	</div>
</div>

<script type="text/javascript" src="${rc.contextPath}/js/localsetting/warning-interface.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/localsetting/pop-up-warning-rule-input.js" ></script>
<script type="text/javascript" src="${rc.contextPath}/js/localsetting/ls-warning-index.js"></script>

<script type="text/javascript">
	$(function() {
		page.paging.tosetInfo($!pageInfo.pageNo, $!pageInfo.pageSize, $!pageInfo.totalPages, $!pageInfo.totalRecords);
	})
</script>

#parse("/localsetting/pop-up-warning-rule-input-i.vm")

#parse("/common/footer.vm")
