
/*以下table表格-事件管理的宽度*/
.c_tab_event1{ width:3%;}
.c_tab_event2{ width:3%;}
.c_tab_event3{ width:30%;}
.c_tab_event4{ width:20%;}
.c_tab_event5{ width:7%;}
.c_tab_event6{ width:19%;}
.c_tab_event7{ width:8%;}
.c_tab_event8{ width:10%;}