.c_sp_more{color: #4FA3AE;cursor: pointer;}
.c_sp_more .c_more_icon{color: #999;}
.c_summary_tab .c_tab_rg .c_tab_con1 .c_tab_input input{ width:165px;}
/*以下table表格*/
.c_tab_th1{ width:70%;}
.c_tab_th2{ width:15%;}
.c_tab_th3{ width:15%;}



