#foreach($entry in ${statWebsiteMap.entrySet()})
<div class="c_anSp_tit c_m10 c_pl10 c_pr10">
	<div class="c_fl c_f14 c_color_blue">$const.getName("MediaType", $entry.key)</div>
	<div class="c_fr c_f12 c_color_gay c_an_more" id="c_an1">隐藏列表 ▲</div>
	<div class="c_cb"></div>
</div>
<div class="c_ml10 c_mr10" id="c_an2">
#foreach($statWebsite in $entry.value) 
	#if($velocityCount % 4 == 1)
	<div class="c_an_block">
	#end
		<div class="c_f12 c_an_special c_fl #if($velocityCount % 2 == 0)c_bg_ye#end">
			<div class="c_omit c_anSp_list c_fl c_ml10">$!tag.getWebsiteName($statWebsite.websiteId)</div>
			<a class="c_anSp_num c_fl c_color_blue c_ml5">($!statWebsite.count)</a>
			<div class="c_cb"></div>
		</div>
	#if($velocityCount % 4 == 0)
	</div>
	#end
#end
</div>
#end