<div id="generalize-tendency-line" style="width: 100%; height: 246px; ">
	<div id="generalize-tendency-line-chart" style="width: 100%; height: 100%"></div>
</div>
<script type="text/javascript">
(function() {
	require.config({
		paths : {
			echarts : '${rc.contextPath}/js/common/echarts/'
		}
	});
	require([ 'echarts', 'echarts/chart/line' // 使用曲线图就加载line模块，按需加载
	  		], function(ec) {
				var data = $!data;
	  			// 基于准备好的dom，初始化echarts图表
	  			var line = ec.init(document.getElementById('generalize-tendency-line-chart'));
	  	 		var chartData = $.map(data.seriesDatas, function(seriesData, i) {
	 			return {
	 				name : data.legendName[i],
	 				type : 'line',
	 				data : seriesData,
	 				smooth : true//设置曲线
	 			}
	 		})
	 		line.setOption({
	 			tooltip : {
	 				trigger : 'axis',
	 				textStyle : {
	 					fontFamily : 'Microsoft YaHei, SimHei',
	 					fontSize : 12
	 				}
	 			},
	 			legend : {
	 				orient: 'vertical',
	 			    x : 18,
	 				y : 5,
	 				data : $.map(data.legendName, function(name) {
	 					return {
	 		                name : name,
	 		                textStyle : {
	 		                	fontFamily:'Microsoft YaHei, SimHei'
	 		                }
	 		            }
	 				})
	 			},
	 			grid : {
	 				x : 125,
	 				y : 15,
	 				x2: 25
	 			},
	 			calculable : false,
	 			xAxis : [ {
	 				axisLabel :{  
	 				    interval:0
	 				}, 
	 				type : 'category',
	 				boundaryGap : false,
	 				data : data.axisName
	 			} ],
	 			yAxis : [ {
	 				type : 'value',
	 				axisLabel : {
	 					formatter : '{value}'
	 				}
	 			} ],
	 			color : [ '#59CDCC', '#5F88D0', '#5CBC85', '#F6AB8D', '#BADD5C', '#F06EB1', '#5FC5EB', '#E5DE66', '#EB5F5F'  ],
	 			series : chartData
	 		});
	  	 		
	  	 	function getDateStr(AddDayCount) {
	 			var dd = new Date();
	 			dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期
	 			var y = dd.getFullYear();
	 			var m = dd.getMonth()+1;//获取当前月份的日期
	 			var d = dd.getDate();
	 			var ms = m.toString();
	 			var ds = d.toString();
	 			if (ms.length < 2) {
	 				ms = "0" + ms;
	 			}
	 			if (ds.length < 2) {
	 				ds = "0" + ds;
	 			}
	 			return y+"-"+ms+"-"+ds;
	 		}
	 		var arrayObj = new Array();　//创建一个数组
	 		for(var i = 0;i < 7; i++) {
	 			arrayObj[i] = getDateStr(i-6);
	 		}
	 		line.on('click', function (param) {
	 			$.getJSON(ctx + "/js/analyze/mediaType.json",function(json){
	 				$.each(json, function(idx, obj) {
	 					if (obj.name == param.seriesName) {/**seriesName-媒体名称*/
	 						/**dataIndex应该是横坐标位置，用一用*/
	 						window.location.href = ctx + "/search/index.htm?mediaType="+obj.id+"&startTime="+arrayObj[param.dataIndex]+" 00:00:00"
	 							+"&endTime="+arrayObj[param.dataIndex]+" 23:59:59";
	 					}
	 				});
	 		  	});
	         });
	 		 
			$(window).resize(function() {
				setTimeout(function() {
					line.resize();
				}, 100);
			});
	});
})();	
</script>