<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task" xmlns:jms="http://www.springframework.org/schema/jms" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/jms 
        http://www.springframework.org/schema/jms/spring-jms.xsd">

	<bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${mq.url}" />
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
	</bean>

<!-- 	<task:executor id="jmsTaskExecutor" pool-size="${jms.executor.size}" /> -->

<!-- 	<jms:listener-container connection-factory="jmsConnectionFactory" task-executor="jmsTaskExecutor" destination-resolver="autoWarningNotifyReceiver"> -->
<!-- 		<jms:listener destination="${mq.queue.name.warning}" ref="autoWarningNotifyReceiver" method="onMessage" /> -->
<!-- 	</jms:listener-container> -->

<!-- 	<jms:listener-container connection-factory="jmsConnectionFactory" task-executor="jmsTaskExecutor" destination-resolver="testJmsReceiver"> -->
<!-- 		<jms:listener destination="${mq.queue.name.warning}" ref="testJmsReceiver" method="onMessage" /> -->
<!-- 	</jms:listener-container> -->

</beans>