
#set($pagecss = ["report.css"]) 

#parse("/common/header.vm")

<div class="c_main">
	<div class="c_list c_mr15">
		<div class="c_title">
			<h3 class="c_name">
				<p class="c_location">
					<i class="c_loc_icon c_sprite"></i> <span>当前位置：</span><span href="javascript:void(0);">分析</span> <span> > </span>
					<span href="javascript:void(0);">当日分析</span>
				</p>
			</h3>
		</div>
		<div class="c_search_box">
			<div class="c_fl">
				<span>日期：</span><input type="text" class="c_keywds c_cal_icon" id="daily-date" name="date" value="$date.format("yyyy-MM-dd",$date.getSystemDate())" readonly="readonly"/>
<!-- 				<a tag="btn-generate-daily" href="javascript:void(0);" type="button" class="c_button c_ml10 c_fl">生成日报</a> -->
			</div>
			<div class="c_fr">
				<a tag="btn-export-daily" href="javascript:void(0);" type="button" class="c_search_link c_search_sys1 c_alert_btn02">导出日报</a>
			</div>
		</div>
		<div class="c_mt15"></div>
		<div tag="page-daily-html"></div>
	</div>
</div>

<script type="text/javascript" src="${rc.contextPath}/js/common/laydate/laydate.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/report/re-daily-index.js" ></script>

#parse("/common/footer.vm")
