<ul class="c_block_listA">
	<ul class="c_block_listA">
		<li><a href="#" class="c_block_list c_omit"><i class="c_emergency">紧急</i>新疆若羌县发生2.9级新疆若羌县发生2.9级地震新疆若羌县发生2.9级地震地震 震源深度新疆若羌县发生2.9级地震 震源深度</a><span class="c_block_date ">12/25 07:28</span></li>
		<li><a href="#" class="c_block_list c_omit"><i class="c_important">重要</i>新疆若羌县发生2.9级新疆若羌县发生2.9级地震新疆若羌县发生2.9级地震地震 震源深度新疆若羌县发生2.9级地震 震源深度</a><span class="c_block_date ">12/25 07:28</span></li>
		<li><a href="#" class="c_block_list c_omit"><i class="c_general">一般</i>新疆若羌县发生2.9级新疆若羌县发生2.9级地震新疆若羌县发生2.9级地震地震 震源深度新疆若羌县发生2.9级地震 震源深度</a><span class="c_block_date ">12/25 07:28</span></li>
		<li><a href="#" class="c_block_list c_omit"><i class="c_general">一般</i>新疆若羌县发生2.9级新疆若羌县发生2.9级地震新疆若羌县发生2.9级地震地震 震源深度新疆若羌县发生2.9级地震 震源深度</a><span class="c_block_date ">12/25 07:28</span></li>
		<li><a href="#" class="c_block_list c_omit"><i class="c_emergency">紧急</i>新疆若羌县发生2.9级新疆若羌县发生2.9级地震新疆若羌县发生2.9级地震地震 震源深度新疆若羌县发生2.9级地震 震源深度</a><span class="c_block_date ">12/25 07:28</span></li>
		<li class="c_border_botno"><a href="#" class="c_block_list c_omit"><i class="c_emergency">紧急</i>新疆若羌县发生2.9级新疆若羌县发生2.9级地震新疆若羌县发生2.9级地震地震 震源深度新疆若羌县发生2.9级地震 震源深度</a><span class="c_block_date ">12/25 07:28</span></li>
	</ul>
</ul>