
#set($pagecss = ["errorpage_news.css"])

#parse("/common/header.vm")

 <div class="c_main"> 

     <!--500-->
     <div class="c_errorpage500">
     	<div class="c_errorpage_but">
         	<a href="javascript:history.go(-1);" class="c_errorpage_back">上一步</a>
         	<a href="${rc.contextPath}/home/index.htm" class="c_errorpage_index c_ml10">返回首页</a>
        </div>
     </div>     
     <!--500end-->

 </div><!-- main end-->

#parse("/common/footer.vm")