#parse("/common/header.vm")

hello world! 

</br>
${rc.contextPath}
</br>
${rc.getContextUrl("/test")}
</br>
$request.getParameter('aaa')
</br>
$cust.name
</br>
$date.getSystemDate()
</br>
$date.whenIs($date.calendar) 
</br>
$date.format("yyyy-MM-dd",$date)
</br>
$number.format("#0,000.00",1234.5)
</br>
$math.add(1,2)
</br>
$esc.html("<div>xxx</div>")
</br>
$class.inspect($math).fullName
</br>
$convert.parseDate("2014-09-01","yyyy-MM-dd")
</br>
$display.truncate("This is a long string.", 10)
</br>
$field.in("com.cyyun.customer.constant.CustomerStatus").DISABLED
</br>
$cookie.add("bar",'woogie')
$cookie.get("bar")
</br>
$import1.read("http://www.baidu.com")
</br>
$link.contextPath
</br>
$link.path('customer').param('qqq','111')
</br>
$text.get("common.update.error")
</br>
$params.getInt('aaa')
</br></br></br></br>
$tag.getUsername(2)
#parse("/common/footer.vm")