
#set($articles = $pageInfo.data)

#parse("/voicefocus/index-list-article.vm")

<script type="text/javascript">
	$(function() {
		setPageInfo($!pageInfo.pageNo, $!pageInfo.pageSize, $!pageInfo.totalPages, $!pageInfo.totalRecords);
	})
</script>